@import "tailwindcss";
/* p {
  font-family: "Bitcount Grid Single";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 1, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
} */
